In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("sum.csv")

In [4]:
df.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

1.No of Country in which olympic held?

In [5]:
data = []
count=0
for Country in df['Country'].unique():
    data.append([Country , len(df[df['Country']  == Country])])
    count=count+1
print(count)

148

2.Which sport having most number of gold medal?

In [6]:
df[df["Medal"]=="Gold"].Sport.value_counts().head()

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

3.Which sport is having most number of medal so far?

In [7]:
df.Sport.value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

4.Which player had won most number of medal?

In [10]:
df.Athlete.value_counts().head()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
ONO, Takashi            13
MANGIAROTTI, Edoardo    13
Name: Athlete, dtype: int64

5.Which player had won most number of gold  medal?

In [11]:
df[df["Medal"]=="Gold"].Athlete.value_counts().head()

PHELPS, Michael     18
NURMI, Paavo         9
LATYNINA, Larisa     9
LEWIS, Carl          9
SPITZ, Mark          9
Name: Athlete, dtype: int64

6.In which year india won medal summer olympic?

In [13]:
df[df["Country"]=="IND"].Year.value_counts().head()

1948    20
1936    19
1956    17
1980    16
1964    15
Name: Year, dtype: int64

7.Which event is most popular in trems of number of players?

In [14]:
df.Event.value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

8.Which sport having most female medalist?

In [16]:
df[df["Gender"]=="Women"].Sport.value_counts().head()

Aquatics      1726
Athletics     1163
Gymnastics     799
Rowing         651
Volleyball     497
Name: Sport, dtype: int64